软件体系结构/服务——客户/WebApplication1/WebApplication1/Web References/localhost/WebService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="addition">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="i" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="j" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="additionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="additionResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="subtract">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="i" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="j" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="subtractResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="subtractResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="multiplication">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="i" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="j" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="multiplicationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="multiplicationResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="division">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="i" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="j" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="divisionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="divisionResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="additionSoapIn">
    <wsdl:part name="parameters" element="tns:addition" />
  </wsdl:message>
  <wsdl:message name="additionSoapOut">
    <wsdl:part name="parameters" element="tns:additionResponse" />
  </wsdl:message>
  <wsdl:message name="subtractSoapIn">
    <wsdl:part name="parameters" element="tns:subtract" />
  </wsdl:message>
  <wsdl:message name="subtractSoapOut">
    <wsdl:part name="parameters" element="tns:subtractResponse" />
  </wsdl:message>
  <wsdl:message name="multiplicationSoapIn">
    <wsdl:part name="parameters" element="tns:multiplication" />
  </wsdl:message>
  <wsdl:message name="multiplicationSoapOut">
    <wsdl:part name="parameters" element="tns:multiplicationResponse" />
  </wsdl:message>
  <wsdl:message name="divisionSoapIn">
    <wsdl:part name="parameters" element="tns:division" />
  </wsdl:message>
  <wsdl:message name="divisionSoapOut">
    <wsdl:part name="parameters" element="tns:divisionResponse" />
  </wsdl:message>
  <wsdl:portType name="WebService1Soap">
    <wsdl:operation name="addition">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">求和的方法</wsdl:documentation>
      <wsdl:input message="tns:additionSoapIn" />
      <wsdl:output message="tns:additionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="subtract">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">求差的方法</wsdl:documentation>
      <wsdl:input message="tns:subtractSoapIn" />
      <wsdl:output message="tns:subtractSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="multiplication">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">求积的方法</wsdl:documentation>
      <wsdl:input message="tns:multiplicationSoapIn" />
      <wsdl:output message="tns:multiplicationSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="division">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">求商的方法</wsdl:documentation>
      <wsdl:input message="tns:divisionSoapIn" />
      <wsdl:output message="tns:divisionSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebService1Soap" type="tns:WebService1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="addition">
      <soap:operation soapAction="http://tempuri.org/addition" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="subtract">
      <soap:operation soapAction="http://tempuri.org/subtract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="multiplication">
      <soap:operation soapAction="http://tempuri.org/multiplication" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="division">
      <soap:operation soapAction="http://tempuri.org/division" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebService1Soap12" type="tns:WebService1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="addition">
      <soap12:operation soapAction="http://tempuri.org/addition" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="subtract">
      <soap12:operation soapAction="http://tempuri.org/subtract" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="multiplication">
      <soap12:operation soapAction="http://tempuri.org/multiplication" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="division">
      <soap12:operation soapAction="http://tempuri.org/division" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService1">
    <wsdl:port name="WebService1Soap" binding="tns:WebService1Soap">
      <soap:address location="https://localhost:44339/WebService1.asmx" />
    </wsdl:port>
    <wsdl:port name="WebService1Soap12" binding="tns:WebService1Soap12">
      <soap12:address location="https://localhost:44339/WebService1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>